<%layout("/layouts/boilerplate.ejs")%>

<div id="carouselExampleAutoplaying" class="carousel slide custom-carousel" data-bs-ride="carousel">
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <a href="/listings"><img src="./images/c1.png" class="d-block w-100"></a>
      </div>
      <div class="carousel-item">
        <a href="/listings"><img src="./images/c2.png" class="d-block w-100" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a href="/listings"> <img src="./images/c3.jpg" class="d-block w-100" alt="..."></a>
      </div>    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container mt-5 why">
    <p style="color: red;"><b>Why us?</b></p><br>
    <div class="row mt-3">
      <div class=" offset-1 col-3 box mt-2">
        <img src="./images/bed.svg"><br>
       <span> <b>Comfortable stay</b></span><br>
        Stay at the best places with all the comfort you need
      </div>
      <div class="offset-1 col-3 box mt-2">
         <img src="./images/ruppee.svg"><br>
         <span > <b>Low Prices</b></span><br>
         Stay within your budget with our affordable options
      </div>
      <div class="offset-1 col-3 box mt-2">
        <img src="./images/location.svg"><br>
        <span> <b>Best Locations</b></span><br>
        Stay at the most convenient locations with easy access to attractions
      </div>
    </div>    
  </div>
  
  <div class="container mt-5 why">
    <p style="color: red;"><b>Our Trending locations</b></p><br>
    <div class="row mt-3">
      <div class=" offset-1 col-3 box mt-2 product">
        <a href="/clothing/men"><img src="https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60" style="height: 80%; width: 100%; "><br></a>
        <div class="content">
        <p>Cozy Beachfront Cottage</p>
        <p>&dollar; 1500</p>
        </div>
      </div>
      <div class="offset-1 col-3 box mt-2 product">
        <a href="/clothing/women"><img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG1vdW50YWlufGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60" style="height: 80%; width: 100% "><br></a>
         <div class="content">
          <p>Rustic Cabin by the Lake</p>
          <p>&dollar; 900</p>
         </div>
      </div>
      <div class="offset-1 col-3 box mt-2 product">
        <a href="/clothing/women"><img src="https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60" style="height: 80%; width: 100%; "><br></a>
        <div class="content">
          <p>Modern Loft in Downtown</p>
          <p>&dollar; 1200</p>
         </div>
      </div>
      <div class="offset-1 col-3 box mt-2 product">
        <a href="/clothing/men"> <img src="https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fG1vdW50YWlufGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60" style="height: 80%; width: 100%; "><br></a>
        <div class="content">
          <p>Safari Lodge in the Serengeti</p>
          <p>&dollar; 3000</p>
         </div>
      </div>
      <div class="offset-1 col-3 box mt-2 product">
        <a href="/clothing/men"> <img src="https://images.unsplash.com/photo-1618140052121-39fc6db33972?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bG9kZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60" style="height: 80%; width: 100%; "><br></a>
        <div class="content">
          <p>Private Island Retreat</p>
          <p>&dollar; 1000</p>
         </div>
      </div>
      <div class="offset-1 col-3 box mt-2 product">
        <a href="/clothing/women" ><img src="https://images.unsplash.com/photo-1521401830884-6c03c1c87ebb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGxvZGdlfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60" style="height: 80%; width: 100%;"><br></a>
        <div class="content">
          <p>Mountain View Cabin in Banff</p>
          <p>&dollar; 1500</p>
         </div>
      </div>
    </div>    
  </div>


  <div class="container mt-5 why">
    <p style="color: gray"><b>Our Customers Love Us</b></p><br>
    <div class="row mt-3">
      <div class="col-4  mt-2 re" style="background-color: darksalmon;">
       <span >  <b>"Absolutely blown away by how seamless<br>
        the booking process was!<br>
        The website made it so easy to compare room types
        and find the perfect fit for our family."
        </b></span><br><br> <br>
        <p>Lauren Munoz</p>
      </div>
      <div class="col-8  mt-2 re" style="background-color: aquamarine;">
         <span > <b>“As someone who travels frequently for work, I can't express how much I appreciate this hotel's website. The ability to save my preferences, store my company's billing information, and get instant confirmation emails has saved me countless hours. !”</b></span><br><br> <br>
         <p> Ronald Snyder</p>
      </div>
      <div class=" col-7 re" style="background-color: blueviolet;">
        <span> <b>
"We were planning our 10th anniversary getaway and this website made the whole experience magical from start to finish. The special packages section helped us find the perfect romantic package, and the ability to add spa appointments and dinner reservations right during booking was fantastic."
          </b></span><br><br><br>
        <p>Jessica Hawkins</p>
      </div>
      <div class=" col-5 re" style="background-color: green;">
        <span> <b>
"Booked a family reunion for 12 people and this website handled our complex needs perfectly."</b></span><br><br><br>
        <p>Sean West</p>
      </div>
    </div>    
  </div>

  <script src="/script/script.js"></script>