<%layout("/layouts/boilerplate.ejs")%>
<body>
  <br>
    <h3>All Hotels</h3><br>
    <!-- <form method="get" action="listings/new">
        <button>Create new listings</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" >
    <% for(let list of li) {%>
      <a href="/listings/<%= list._id %>" class="listing-link">
    <div class="card col">
        <img src="<%= list.image %>" class="card-img-top" alt="listing_image" style="width: 20rem; height: 20rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
           <b>  <%= list.title %><br></b>
            &#8377;<%= list.price.toLocaleString("en-IN") %> /night
        </div>
      </div>
      <% } %>
      </a>
    </div>
</body>