
body{
    font-family: 'Plus Jakarta Sans',sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/*footer*/

footer{
    margin-top: 2rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i{
    font-size: 1.4rem;
    margin-right: 1rem;
}

.f-info{
    height: 8rem;
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.w{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cards*/
.card{
    border: none !important;
    margin-bottom: 4rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0px !important;
    margin-top: 1rem;
}

.card-text{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important ;
    color: white;
    border: none !important;
    border-radius: 5px;
}

/* show page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
    align-items: space-between;
}
.show1{
    margin-bottom: 20px !important;
}